body {
    font-family: 'Raleway', sans-serif;
}

h1, body {
    margin: 0;
}

/* banner */

.banner {
    background-image: url(../imagens/banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner h1, .banner p {
    color: white;
}

.banner button {
    background-color: white;
    color: #7e459b;
    padding: 15px;
    border-radius: 25px;
    text-transform: uppercase;
}

/* sobre */

.descricao, .habilidades {
    width: 40%;
    display: inline-block;
}

.sobre {
    padding: 70px;
}

/* rodape */

.redes-sociais {
    background-color: #7e459b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.redes-sociais p, .redes-sociais h4 {
    color: white;
}